body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #0D1B2F;
    max-width: 2000px;
    padding: 30px;
    
}    
    
header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    
}

#title{
    flex-direction: column;
    line-height: 10px;
    color: #ffff;
}

li{
   display: inline-block;
   margin: 20px;

   
}

a{
    color: #ffff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    
}

/*Main*/

main{
    display: flex;
    flex-direction: row;
    color: #ffff;
}

p{
    width: 500px;
    margin: 0 auto;
    color: #ffff;
    
}
.content{
    
    width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #091e3a;
    color: #ffff;
    border-radius: 10px;
}   
    
.content form{
    display: flex;
    flex-direction: column;
    gap: 32px;

} 


 
.form{
    padding-left: 220px;
    padding-bottom: 50px;
    
 }

 aside{
    padding: 100px;
    
 }

h3{
    font-size: 50px;
    color: #8c8988;
}    
    


input[type="text"], input[type="email"]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
 }

 input:hover{
    background-color: #1f3e69;
    color: #ffff; 
 }
 
 button[type="submit"]{
    width: 100%;
    padding: 20px 20px;
    background-color: #ffffff;
    color: rgb(7, 5, 5);
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 button:hover{
    background-color:#d84343;
    color: #ffff; 
 }

select{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;
}
select:hover{
    background-color: #1f3e69;
    color: #ffff;  
}

.tecno{
    margin-left: 60px;
    margin-right: 60px;
    line-height: 1px;
    
}
 .linguagens{
    margin-left: 60px;
    margin-right: 60px; 
    font-size: 19px;
      
 }

 .pdp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
 }


    
    
    

/*.tecno1:hover{
    background-color: #1f3e69;
    color: #ffff;  
}

.linguagens{
    display: flex;
    flex-direction: column;
    
}
 input[type="radio"] {
  display: none;
}

label {
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 50%;
  vertical-align: middle;
}

input[type="radio"]:checked + label:before {
  background-color: #333;
}
input[type="radio"][value="muito insatisfeito"] + label:before {
  background-color: #f44336;
}

input[type="radio"][value="insatisfeito"] + label:before {
  background-color: #ff9800;
}

input[type="radio"][value="neutro"] + label:before {
  background-color: #9e9e9e;
}

input[type="radio"][value="satisfeito"] + label:before {
  background-color: #4caf50;
}

input[type="radio"][value="muito satisfeito"] + label


    



    
    

    
    
    
   


 
   



    
    




    






  


    
  
  




   




