body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #0D1B2F;
    max-width: 2000px;
    padding: 30px;
    
}    
    
header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    
}

#title{
    flex-direction: column;
    line-height: 10px;
    color: #ffff;
}

li{
   display: inline-block;
   margin: 20px;

   
}

a{
    color: #ffff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    
}

/*Main*/

main{
    display: flex;
    flex-direction: row;
    color: #ffff;
}

p{
    width: 500px;
    margin: 0 auto;
    color: #ffff;
    
}
.content{
    
    width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #091e3a;
    color: #ffff;
    border-radius: 10px;
}   
    
.content form{
    display: flex;
    flex-direction: column;
    gap: 32px;

} 


 
.form{
    padding-left: 220px;
    padding-bottom: 50px;
    
 }

 aside{
    padding: 100px;
    
 }

h3{
    font-size: 50px;
    color: #8c8988;
}    
    


input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
 }

 input:hover{
    background-color: #1f3e69;
    color: #ffff; 
 }
 
 button[type="submit"]{
    width: 100%;
    padding: 20px 20px;
    background-color: #ffffff;
    color: rgb(7, 5, 5);
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }
 button:hover{
    background-color:#d84343;
    color: #ffff; 
 }

select{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 40px;
}
select:hover{
    background-color: #1f3e69;
    color: #ffff;  
}

    



    
    

    
    
    
   


 
   



    
    




    






  


    
  
  




   




